* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 50%;
    height: auto;
    margin: 5% auto;
    border-radius: 20px;
}

h1, h3 {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
}